/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Header
	4. Navigation
	5. Footer
	6. Person Page
	7. People Archive
	8. Books
	9. Articles/Posts
	10. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	background-color: white;
}
#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}
.page-template-page-full .col {
	width: 100%;
}

/*	2. Homepage
/*--------------------------------------*/

.home #hero {
	height: $home-hero-height;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		height: $home-hero-height;
		position: relative;
		
		&.text {
			@include vendor-prefix('box-shadow', 'inset 0 -40px 80px 60px rgba(0,0,0,0.5)');
			background: rgba(0,0,0,0.3) url('../images/connections.png') no-repeat top left;
		}
	}
	.hero-description {
		color: white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		.content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
		h2 {
			font-size: 4em;
			line-height: 1em;
			max-width: 800px;
			font-weight: 600;
			margin: 0 auto 10px auto;
		}
		p {
			font-size: 1.2em;
			max-width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		button.outline {
			margin-top: 35px;
			min-width: 180px;
		}
		.left {
			text-align: left;
			
			h2 {
				margin-left: 0;
			}
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			h2 {
				margin-right: 0;
			}
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			.btn {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
	}
}
.home .col {
	float: left;
	
	ul, ol {
		margin-top: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	span.description {
		margin-bottom: 10px;
	}
	h4 {
		line-height: 1.5em;
	}
	.categories {
		display: block;
		line-height: 1em;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
	}
	&.news-col {
		li {
			padding: 0;
			margin-bottom: 20px;
			clear: both;
		}
		.category a {
			font-size: .80em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: 1px;
			display: inline-block;
		}
		&.one {
			ol.categories {
				
			}
			.item {
				width: auto;
			}
		}
		&.two {
			.item {
				float: right;
				width: 330px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
		&.three {
			.item {
				float: right;
				width: 570px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.5em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		li {
			margin-bottom: 20px;
		}
		.category {			
			a {
				font-size: .70em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: 1px;
				display: inline-block;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		.item {
			margin-bottom: 20px;
		}
		&.one {
			ol.categories {
				
			}
		}
		&.two {
			.item {
				float: right;
				width: 330px;
				margin-top: 0;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*	3. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 100%;
			display: inline-block;
			margin: 0;
			text-align: center
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 100%;
		height: auto;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		//width: 730px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support {
			font-size: .8em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: auto;
	}
}
.breadcrumbs {
	background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: white;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	a {
		font-weight: 600;
		color: white;
		text-decoration: underline;
	}
}

/*	4. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 12px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $primary-light;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			padding-left: 5px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		background: none;
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	ul li ul li.menu-item-has-children {
		background: none;
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1em;
	}
	a, a:link {
		color: $text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin: 0 0 5px 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $raleway;
			font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}
	.sub-menu li {
		list-style: disc;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	5. Footer
/*--------------------------------------*/

footer {
	background-color: $secondary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		//display: none;
       input[type="search"]{
        float: right;
        color: rgba(0, 0, 0, 0.87);
        width: 100%;
        max-width: 200px;
        background: white;
       }
        .search-btn {
            position: absolute;
            padding: 5px;
            right: 2px;
            top: 0px;
            min-width: auto;
            background: none;
            font-size: 1.2em;
            color: #8e8e8e !important;
            -webkit-transition: color 0.24s ease-in-out;
            transition: color 0.24s ease-in-out;
			
			&:active {
				top: 1;
			}
        }
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link {
	&:before {
		content: "\f0c1"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}
.download {	
	&:before {
		content: "\f019"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	text-align: center;
	float: left;
	clear: both;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0;
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}
.dropdown-filter {
	display: none;
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0;
		width: 210px;
		height: 210px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
			}
			.name {
				color: $link-color;
			}
		}
		.photo {
			border: 7px solid white;
			width: 100px;
			height: 100px;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 55px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			color: $text-color;
		}
		.interest {
			font-size: .8em;
			color: $text-color;
			line-height: 1em;
			margin-top: 10px;
		}
		.position {
			color: $secondary-text-color;
			font-style: italic;
			margin-bottom: 0;
		}
		.email, .office, .office-hours, .phone {
			font-size: .8em;
			margin-bottom: 0;
			color: $text-color;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Staff */
.term-staff .people-list {

	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*	10. Other
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding-bottom: 5px;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 1em 0 1.5em 0;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ */
dl.faq {
	dt.question {
		cursor: pointer;
		
		&:before {
			content: "\f0da"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 15px;
			display: inline-block;
		}	
	}
	dt.active {
		&:before {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 15px;
		}	
	}
	dd {
		margin-left: 15px;
	}
	dd > p {
		margin-top: 10px;
	}
}

/* Galleries */
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
// When using Responsive Lightbox plugin
#fancybox-close {
	right: -40px!important;
}
#fancybox-right {
	right: -25px!important;
}
#fancybox-right:hover span {
	left: auto;
	right: 10px;
}
#fancybox-left:hover span {
	left: 10px;
}

/* Teaching Innovation Grant */
// Change ID as needed

//.page-id-2414 article {

/* .page-id-3208 article {
	h1 {
		font-size: 2.2em;
		background-color: #fcd758;
		text-align: center;
		padding: 15px;
		text-transform: uppercase;
	}
	h2 {
		font-size: 1.5em;
		text-transform: uppercase;
		background-color: #fcd758;
		padding: 15px;
	}
}
*/

//    C O L O R  P A L E T T E
//--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}